{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
main %}

<div id="showcase-row" class="row">
  <div id="intro-left" class="col-lg-4">
    <div id="intro-text-left">
      <h2 id="intro-text-left-slogan">Welcome to Interactive Narrator</h2>
      <h5 id="intro-text-left-slogan-subquote">Part of the GRIMM framework</h5>
      <p>
        GRIMM is your go-to method for creating high quality user stories. It
        offers guidelines and three software tools specifically engineered to
        help you create, update and present your software requirements. Use it
        as a process or pick any of the four tools.
      </p>
      <br />
      <h4>The GRIMM process is:</h4>
      <ul class="list-inline">
        <li>QUS <span class="glyphicon glyphicon-chevron-right"></span></li>
        <li>AQUSA <span class="glyphicon glyphicon-chevron-right"></span></li>
        <li>
          Visual Narrator
          <span class="glyphicon glyphicon-chevron-right"></span>
        </li>
        <li>Interactive Narrator</li>
      </ul>
      <a href="/register" class="btn btn-lg btn-success">Start</a>
    </div>
  </div>
  <!-- intro-left -->
  <div id="intro-right" class="col-lg-8">
    <h1>intro-right</h1>
  </div>
  <!-- intro-right -->
</div>
<!-- showcase-row -->
<div id="slogan-row" class="row">
  <h2 id="slogan">
    "Analyze, Perfect and Visualize Your User Stories with GRIMM"
  </h2>
</div>
<!-- slogan-row -->

<div id="introtext-row" class="row row-eq-height">
  <h1>introtext</h1>
</div>
<!-- introtext-row -->
{% endblock main %}
