/*CSS document for Interactive Narrator*/

body {
  background-color: #332f30;
  height: 98vh;
  font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-header > a.navbar-brand {
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-header {
  padding-left: 240px;
}

#navbar-items {
  width: 300px;
  margin: auto;
}
.navbar-inverse .navbar-brand {
  color: #ecc348;
}

.navbar-inverse {
  min-height: 70px;
  z-index: 1;
  border: none;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 70px;
  font-size: 16px;
}

.navbar-inverse .navbar-brand {
  padding-top: 22px;
  /*padding-bottom: 0;*/
  /*line-height: 70px;*/
  font-size: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(177, 178, 177);
  font-weight: 600;
  font-family: 'Ubuntu', sans-serif;
}

#navbar.navbar-collapse.collapse.in {
  background-color: #333;
}

/* ####VISUALIZATON STYLING####*/

canvas {
  background-color: #ffffff;
}

#main {
  /*background-color: #FFFFFF;*/
  background-color: #332f30;
  min-height: 100vh;
}

.container-fluid {
  /*margin-top: 50px;*/
}

#showcase-row{
    margin-top: 30px;
    background-color:#332F30;
}
#slogan-row{
    background-color:#332F30;
    height: 50px;
    margin: 20px 0px 30px 0px;
}
h2#slogan{
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #ECC348;
    text-align: center;

}
#intro-left{
    color: #FFFFFF;
    padding-right:10px;
}
#intro-text-left{
    padding: 50px 10px 50px 50px;
}
h2#intro-text-left-slogan{
    color: #ECC348;
}
h5#intro-text-left-slogan-subquote{
    font-style: italic;
}
#intro-text-left ul > li{
    padding-right: 0;
}

#intro-text-left{
    font-size: 16px;
    font-weight: 600;
}

#intro-text-left a.btn-info{
    background-image: linear-gradient(to bottom, #378CFF 0px, #2aabd2 100%);
    background-color: #378CFF;
}

#intro-text-left > ul{
    padding-bottom: 20px;
}
#introtext-row{
    /*display: flex;*/
    margin-top: 20px;
}
#introtext-row p{
    color: #FFFFFF;
    font-weight: 600;
}
#introtext-row .btn{
    background-color: #ECC348;
    color: #332F30;
    font-weight: 600;
}

#introtext-row a:hover{
    color: #FFFFFF;
}

#introtext-row h3{
    color: #FFFFFF;
    /*font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;*/
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    margin-top: 0;
}

#introtext-row h5, h6{
    color:#FFFFFF;
}

#qus-introtext, #aqusa-introtext, #vn-introtext, #in-introtext{
    /*border: 1px solid silver;*/
    padding: 30px 40px 30px 40px;
    /*align-items: stretch;*/
}
#qus-introtext{
    /*background-color: #ECC348;*/
    border-top: 8px solid #ECC348;
}
#aqusa-introtext{

    border-top: 8px solid #378CFF;
    /*background-color: #378CFF;*/
}
#vn-introtext{
    /*background-color: #ECC348;*/
    border-top: 8px solid #ECC348;
}
#in-introtext{
    /*background-color: #378CFF;*/
    border-top: 8px solid #378CFF;
}

/* ####HOMEPAGE####*/
#intro-left{
    /*border: 1px solid silver;*/
    /*height: 400px;*/
}

#welcome-content .page-header{
    /*padding-top: 70px;*/
    margin-top: 10px;
}

#main-heading{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/*CAROUSEL */
#homepage-slider{
    margin-bottom: 20px;
}

#homepage-slider .carousel-control{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0%, transparent 100%);
    opacity: 1;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner > .item{
    -webkit-transition: 3s ease-in-out left;
    -moz-transition: 3s ease-in-out left;
    -o-transition: 3s ease-in-out left;
    transition: 3s ease-in-out left;
}

img#UU-logo{
    float: left;
    padding-left: 5px;
    padding-top: 10px;
}


@media only screen and (max-width: 768px){
    .navbar-nav{
        margin: 0;

    }
    .navbar-header{
        padding-left: 70px;
    }
    .navbar-header:after{
        clear: none;
    }

}





/*Styling for all things in the vertical navigation on the left*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.glyphicon-menu-hamburger{
    font-size: 14pt;
}


#main_icon {
    float: right;
    padding-right: 25px;
    padding-top: 20px;
    color: rgb(236, 195, 72);
}


@media (max-width: 767px) {
    #wrapper {
        padding-left: 70px;
        transition: all .4s ease 0s;
    }

    #sidebar-wrapper {
        left: 70px;
    }

    #wrapper.toggled {
        padding-left: 150px;
    }

    #wrapper.toggled #sidebar-wrapper {
        left: 250px;
        width: 250px;
        transition: all .4s ease 0s;
    }
}


.dropdown-menu {
    background-color: rgb(51, 47, 48);
    border: 0;
    border-bottom: 1px solid rgb(66, 66, 66);
    border-radius: 0px;
}

.btn-default.active, .open > .dropdown-toggle.btn-default {
    width: 250px;
    text-indent: 0px;
    border-bottom: 1px solid rgb(66, 66, 66);
    color: #333;
    /*line-height: 40px;*/

}

.btn-group {
    display: block;
    border: none;
}

.btn {
    white-space: inherit;
}

.open > .dropdown-toggle.btn-default:focus {
    background-color: rgb(236, 195, 72);
}

.btn-group > .btn-default {
    background-color: rgb(51, 47, 48);
    border-bottom: 1px solid rgb(66, 66, 66);
    border-radius: 0;
    text-indent: 0px;
    width: 250px;
    height: 40px;

}

.btn-default {
    border: none;
}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {
    background-color: rgb(236, 195, 72);
    /*border-color: #adadad;*/
    /*color: #333;*/
}

ul.multiselect-container > li > a {
    text-indent: 10px;
    height: 30px;
    padding-top: 1px;
}

h5#threshold {
    margin: 0px 5px 5px 0px;
    color: rgb(177, 178, 177);
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    /*padding-top: 5px;*/
}

.login h1, h2, h3, h4, h5, h6, .registration h1, h2, h3, h4, h5, h6, .contact h1, h2, h3, h4, h5, h6,
.about h1, h2, h3, h4, h5, h6{
    color: #332F30;
}

p.error{
    color: #b93331;
    text-align: center;
}

.registration, .login, .contact, .about {
    margin: 100px auto;
    min-width: 350px;
    width: 40%;
}

.about{
    width: 60%;
}

.registration-title, .login-title, .contact-title{
    text-align: center;
}

#forgot-password{
    position: relative;
    left: 55%;
}

#login-submit:hover{
    background-color:#4f81bd;
}
.registration-form input, textarea#message, .login-form input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 400;
/*padding: 10px 0;*/
/*width: 250px;*/
transition: border .5s;
}

.login-form, .registration-form{
    margin-bottom: 40px;
}

.registration-form input, .login-form input{
    width: 300px;
}

textarea#message{
    padding:5px;
    min-height: 150px;
    min-width: 300px;
    text-align: left;
}

.registration-form .form-group, .login-form .form-group{
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}

.login-form input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.registration-screen, .login-screen, .contact-screen, .about-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.about-screen{
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 45px 30px 45px;
}

.registration-screen p, .contact-screen p{
    text-align: center;
}

.contact-screen p{
    padding: 0px 60px 0px 60px;
}

button#login-submit, button#registration-submit, input#submit  {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  /*display: block;*/
  width: 300px;
  margin: 0 auto;
}
/*button#registration-submit{*/
    /*width: 300px;*/
/*}*/
input#accept_tos{
    /*width: 25px;*/
    /*float: left;*/
}

input#submit{
    width:100%;
}

input#submit:hover{
    background-color:#4f81bd;
}

textarea#message{
    /*height: 200px;*/
}

#message::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}
#message::-webkit-input-placeholder {
    text-align: center;
}
#message::-ms-input-placeholder {
    text-align: center;
}

p.confirm-success{
    color: white;
    padding: 5px 2px 5px 2px;
    background-color: #3e8f3e;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

p.email-confirm-success{
    color: white;
    padding: 5px 2px 5px 2px;
    background-color: #3e8f3e;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}